.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4; /* Light background for better contrast */
}

.loading .spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  background: conic-gradient(rgb(0, 132, 219), rgb(230, 23, 0), rgb(0, 243, 170));
  mask: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 51%);
  -webkit-mask: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 51%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
