.forgot-password {
  margin-top: 100px;
  height: 70vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password .container {
  gap: 10px;
  width: 740px;
  display: grid;
  background-color: rgb(243, 243, 243);
  padding: 100px;
  grid-template-columns: 0.7fr 0.3fr;
}

.forgot-password .container input {
  height: 35px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid gray;
}

.forgot-password .container button {
  background-color: transparent;
  border: 1px solid goldenrod;
  color: goldenrod;
  cursor: pointer;
  transition: all 0.3s;
}

.forgot-password .container button:hover {
  background-color: goldenrod;
  color: #fff;
}