.course-category {
    max-width: 89vw;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 40px auto;
    gap: 30px;
}

.course-category .single-course {
    width: clamp(270px, 45%, 350px);
    overflow: hidden;
    position: relative;
    border: 1px solid rgb(214, 214, 214);
}

.course-category .single-course p {
    width: 100%;
    position: absolute;
    bottom: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(0, 57, 122), rgb(0, 0, 0));
    padding: 12px 0px;
    color: white;
    transition: bottom ease-in 0.3s;
}

.course-category .single-course:hover p,
.course-category .single-course:focus-within p {
    bottom: 0;
}

.course-category .single-course img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

@media (max-width: 768px) {
    .course-category {
        gap: 5px;
    }

    .course-category .single-course {
        width: 100%; 
    }
}
