/* Base styles */
.navbar {
  width: 100vw;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 92, 145, 0.53);
  position: fixed;
  top: 0;
  height: 73px;
  background-color: aliceblue;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar .left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .left .menu-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 25px;
}

.navbar .left .menu-icon img {
  height: 25px;
  transition: all ease-in-out 0.2s;
}

.navbar .left .menu-icon span {
  font-size: 19px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.navbar .right {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .right img {
  height: 50px;
  cursor: pointer;
}



.navbar .left img:hover {
  transform: translateY(-2px);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .navbar {
    padding: 0 15px;
    height: 73px;
  }

  .navbar .left {
    margin-left: 20px;
  }

  .navbar .right {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 73px;
  }

  .navbar .left {
    margin-left: 10px;
  }

  .navbar .left .menu-icon span {
    font-size: 16px;
  }

  .navbar .right img {
    height: 40px;
  }

  .navbar .right button {
    padding: 8px 16px;
    font-size: 14px;
  }

  #links {
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 73px;
    /* padding: 0 10px; */
  }

  .navbar .left {
    gap: 10px;
  }

  .navbar .left .menu-icon span {
    font-size: 14px;
  }

  .navbar .right img {
    height: 35px;
  }

  /* .navbar .right button {
    padding: 6px 12px;
    font-size: 12px;
  } */  
} 