.login-signup {
    max-width: 85vw;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    border: 1px solid rgb(211, 211, 211);
    padding: 25px;
}

.login-signup .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-signup .left button{
   padding: 7px 12px;
   cursor: pointer;
}
      
.login-signup .right input {
    height: 35px;
    padding-left: 12px;
}

.login-signup .right button {
    padding: 7px 30px;
}

@media (max-width: 768px) {
    .login-signup {
        grid-template-columns: 1fr;
    }
}